.LoginForm{
   padding:20px; 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTZSL5SgrQytfhK1Z9NZBAfL-P8nfuPwhQ6Q&usqp=CAU");
    border-radius: 20px; 
    margin-left: 30%; 
    margin-right: 30%;
    margin-top:10%;
    padding-left:10%;
    padding-right:15%;
    padding-top:100px;
    padding-bottom:100px;
    
    background-size: cover;
    background-blend-mode: lighten;

}
.LoginItem{
    margin-bottom: 20px;
    background-color: white;
    ;
    
}
.LoginButton{
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
}
.Forgot{
    margin-bottom: 10px;
    margin-top:-20px;
    color:white;
}